html{
  font-family: Arial;
  font-size: 14px;
}
body{
    margin:0;
    background: #e5e5e5;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

#body-content{
  display:flex;
  margin: 0.5em auto 0.5em auto;
  gap: 1em;
}

@media (max-width: 800px) {
  #body-content{
    max-width: 800px;
    width:95vw;
    flex-direction:column;
  }
  .iframe-chat{
    max-width:100%;
    height:70vh;
  }
  .featured-media{
    width: 90vw;
    height: 60vw;
    margin:auto;
  }
}
@media (min-width: 800px) and (min-height: 400px){
  #body-content{
    max-height:440px;
    max-width: 800px;
    width:800px;
    flex-wrap:wrap;
    flex-direction:column;
  }
  .iframe-chat{
    max-width:50vw;
    height:100%;
  }
  .featured-media{
    width: 420px;
    height: 280px;
    margin:auto;
  }
}

iframe{
  border:none;
}

